body {
    background-color: lightblue;
    color: brown;
}

h1 {
    font-size: 2em; 
    font-family: Monaco;
    text-align: center;
}
h2{
	font-size: 2em; 
	font-family: Copperplate;
    color: green;
}
h3{
	font-size: 2em; 
	font-family: Verdana;
    color: purple;
}
p {
    line-height: 20px;
}
img{
    border: 5px solid red;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
ul li{
    display: inline-block;
    margin-left: 50px;
}